:root {
    --primary-color: rgb(74, 162, 248); /* Define your color constant */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
}

.screen {
    margin: 0;
}

.center {
    display: flex;
    align-items: center; /* Vertikale Zentrierung */
    justify-content: center; /* Horizontale Zentrierung */
    height: 100vh; /* Höhe des Bildschirms */
    width: 100vw;
    margin: 0;
}

button {
    color: white;
    background-color: var(--primary-color);
    border-style: none;
    border-radius: 10px;
    padding: 10px 30px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(61, 135, 209);

}

input {
    background-color: #f3f3f3;
    border-style: none;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    width: 90%;
}

input:focus {
    outline: none;
}

.notScrollable {
    overflow: hidden;
}

#loginForm {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    width: 300px;
    margin: auto;
}

.errorMessage {
    color: red;
    font-size: 0.8em;
    display: none;
}

.sidebar {
    background-color: #eee;
    width: 220px;
    padding: 20px;
    height: 100%;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigationButtonContainer {
    margin-left: 0;
    padding-left: 0;
}

.navigationButton {
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: #f8f8f8;
    border: 2px solid #f8f8f8;
    height: 27px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.navigationButton[data-selected="true"] {
    border: 2px solid var(--primary-color);
}

.navigationButton:hover {
    cursor: pointer;
    background-color: #ddd;
}

.navigationButton:hover:not([data-selected="true"]) {
    border: 2px solid #ddd;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#profile_picture {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
}

#profile_details {
    font-size: 0.9em;
    margin-left: 20px;
}

#name {
    margin-bottom: 5px;
}

#role {
    margin-top: 0;
}

.content {
    margin-left: 260px;
    padding: 20px 40px;
    width:  calc(100% - 260px - 80px);
    overflow-x: hidden;
}

.element_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.statistics_element {
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    width: 200px;
    animation-duration: 200ms;
}

.statistics_element:hover {
    transform: scale(1.01);
}

.statistics_title {
    margin-top: 0;
}

.statistics_value {
    margin-bottom: 0;
    margin-top: 5px;
}

#hours_this_week, #max_vacation_days {
    background-color: var(--primary-color);
}

#flex_time_account, #hours_previous_week, #unplanned_vacation_days {
    background-color: #FE9474;
}

#sick_days, #hours_this_month, #taken_vacation_days {
    background-color: #B969FF;
}

#remaining_vacation_days, #must_work_time_month, #denied_vacations {
    background-color: #FF6978;
}

.projects_element {
    background-color: #eee;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    transition-duration: 200ms;
}

.projects_element:hover {
    transform:  scale(1.01);
}

.active_workers {
    display: flex;
    align-items: center;
}

.worker_icon {
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    object-fit: cover;
}

.count_abreviation {
    color: grey;
    margin-left: 10px;
}

.project_header {
    display: flex;
    align-items: center;
}

.project_image {
    background-color: white;
    margin-right: 20px;
    width: 75px;
    height: 75px;
    border-radius: 10px;
    object-fit: cover;
}

.project_description {
    margin-bottom: 0;
}

.event_container {
    display: flex;
    gap: 20px; /* Abstand zwischen den Karten */
    overflow-y: auto; /* Horizontales Scrollen ermöglichen */
    padding-top: 5px;
    padding-bottom: 5px;

     /* Scrollleiste ausblenden */
     scrollbar-width: none; /* Firefox */
}

.event_element {
    background-color: #eee;
    padding: 20px;
    border-radius: 10px;
    min-width: 200px;
    max-width: 200px;
    height: 300px;
    transition-duration: 200ms;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event_element p {
    display: -webkit-box; /* Aktiviert den flexiblen Box-Modus */
    line-clamp: 3;
    -webkit-line-clamp: 3; /*Legt die maximale Anzahl der Zeilen fest */
    -webkit-box-orient: vertical; /* Orientiert den Text vertikal */
    overflow: hidden; /* Versteckt den überlaufenden Text */
    text-overflow: ellipsis; /* Fügt die "..." hinzu */
    margin-top: 0;
}

.event_element:hover {
    transform:  scale(1.01);
}

.event_image {
    background-color: white;
    width: 100%;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}

.more_info_button {
    margin-top: auto; /* Button wird nach unten gedrückt */
}

#refresh {
    background-color: var(--primary-color);
    color: white;
    /*font-weight: bold;*/
    border: none;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    gap: 5px;
    transition: background-color 0.2s ease;
}

#refresh:hover {
    cursor: pointer;
    background-color: rgb(61, 135, 209);
    border: none;
}

/* Style for the refresh icon */
.refresh-icon {
    font-size: 1.2em;
}

.logout-section {
    position: absolute; /* Allows you to position the button freely */
    bottom:20px; /* Distance from the bottom */
    right: 40px; /* Distance from the right */
    z-index: 100; /* Make sure the button is above other elements */
}

.shutdown-button, #cancel-add-time-button, #cancel-vacation-button {
    color: white;
    background-color: #ff4d4d; /* A red color to indicate "logout" */
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    /*transition: background-color 0.2s ease;*/
}

.shutdown-button:hover {
    background-color: #d53030; /* Darker red on hover */
}

.container {
    display: flex;
}

#my_work_times_headline, #my_vacations_headline {
    color: black;
}

.add-time-button, .request-vacation-button {
    float: right;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 40px;
}

.work-times-table, .vacation-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    border: #c6c6c6 solid 1px;
    border-radius: 100px;
}

table, th, td {
    border: 1px solid #dcdcdc;
}

.work-times-table th, .work-times-table td {
    padding: 10px 10px;
    text-align: left;
}

.work-times-table thead > tr > th{
    background-color: #D9D9D9;
}

.work-times-table th {
    background-color: #f5f5f5;
}

.work-times-table tbody tr:nth-child(odd) {
    background-color: #f3f3f3; /* Light grey for odd rows */
}

.work-times-table tbody tr:nth-child(even) {
    background-color: #fafafa; /* White for even rows */
}

.work-times-table tbody tr:hover {
    background-color: #e1e1e1;
    cursor: pointer;
}

.positive {
    background-color: #DDF4D1;
}

.negative {
    background-color: #F4D1D1;
}

#date, #week, #weekday, #start, #end, #pause, #worked_hour, #absence, #duration, #status {
    width: 10%;
}

#difference_to_required {
    width: 15%;
}

#response {
    width: 30%;
}

dialog {
    background-color: transparent;
    backdrop-filter: blur(2px); /* Blurreffekt */
    -webkit-backdrop-filter: blur(2px); /* Für Safari */

    position: fixed; /* Fixiert den Dialog über den gesamten Bildschirm */
    top: 0;
    left: 0;
    width: 100vw; /* Ganze Bildschirmbreite */
    height: 100vh; /* Ganze Bildschirmhöhe */

    border: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#work-time-dialog, #vacation-dialog {
    display: none;
}

.dialogContainer {
    max-width: 500px;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 20px;
}

.hint {
    color: grey;
}

.textField {
    border: #aaaaaa solid 1px;
}